<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employees Management Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div th:align="center">
  <div class="container">
    <div class="table-responsive">
      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto p-2 bd-highlight"><h2>Employees List</h2></div>
        <div class="p-2 bd-highlight" style="display: flex;">
          <a th:href="@{/employees/new}" class="btn btn-primary">Create</a>
        </div>
      </div>
        <div class="d-flex mb-3">
            <h6 class="display-6 text-center" style="font-size: 24px" th:text="'Hello: ' + ${session.user.email}"></h6>
            <a class="btn btn-danger" style="margin-left: 5px" th:href="@{/logout}">Logout</a>
        </div>

        <!-- success message -->
        <div th:if="${param.success}">
            <div class="alert alert-info">You've created successfully</div>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-info">You've created successfully</div>
        </div>

      <form class="d-flex" role="search" th:action="@{/employees}">
        <input class="form-control me-2" name="keyword" th:value="${keyword}" th:type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button>
      </form>
      <br>
      <table th:class="table">
        <thead>
        <tr>
<!--          <th th:scope="col">ID</th>-->
          <th th:scope="col">First Name</th>
          <th th:scope="col">Last Name</th>
          <th th:scope="col">Email</th>
          <th th:scope="col">Age</th>
          <th th:scope="col">Date of birth</th>
          <th th:scope="col">Address</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <th:block th:each="emp: ${listEmps}">
          <tr>
<!--            <td th:scope="row" th:text="${emp.id}"></td>-->
            <!--          <td th:scope="row" >[[${emp.id}]]</td>        Cách 2 để đưa dữ liệu vào table khi render-->
            <td th:text="${emp.firstName}"></td>
            <td th:text="${emp.lastName}"></td>
            <td th:text="${emp.emailId}"></td>
            <td th:text="${emp.age}"></td>
            <td th:text="${emp.dob}"></td>
            <td th:text="${emp.address}"></td>
            <td>
              <a th:href="@{/employees/edit/{id}(id=${emp.id})}" class="btn btn-secondary">Edit</a>
              <a th:href="@{'/employees/delete/'+ ${emp.id}}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>